{% extends 'TMA_Warehous/base.html' %}

{% block content %}
    <div>
        {% if user.role == 2 %}
            <h1>List of Goods</h1>
            <a class="btn btn-outline-info btn-lg mb-4" href="{% url 'new-goods' %}">Add new goods</a>
        {% else %}
            <h1>List of Goods</h1>
        {% endif%}
    </div>
    <div class="content-section">
        <h1>Items</h1>
        <p class="text-muted">Total count: {{ items.count }}</p>
        <table>
            <tr>
                <th>ID</th>
                <th>Group</th>
                <th>Measurement</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Status</th>
                <th>Location</th>
                <th>Contact Person</th>
                <th>Create Order</th>
            </tr>
        {% for item in items %}
                <tr>
                    <td><a href="{% url 'item_detail' item.item_id %}">{{ item.item_id }}</a></td>
                    <td>{{ item.get_group }}</td>
                    <td>{{ item.get_measurement }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.storage_location }}</td>
                    <td>{{ item.contact_person }}</td>
                    <td><a class="btn btn-outline-secondary" href="{% url 'new-order' %}">Order</a></td>
                </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
